
body {
	font-family: 'Arial Narrow', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

h2, h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

h2 {
	font-size: 170%;
	line-height: 80%;
	margin-bottom: 2%;
}

h3 {
	font-size: 150%;
	line-height: 60%;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:not([href]) {
    color: black;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #138A08;
}

.navbar {
  	margin-bottom: 0px;
  	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-default {
	background-color: #ffffff;
}

.navbar-default .navbar-brand {
	color: #363636;
}

.navbar-default .navbar-nav > li > a {
	color: #363636;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #138A08;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #138A08;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active  {
	color: #138A08;
	background: transparent;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #138A08;
	background: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #363636;
}

.welcome {
	padding-top: 2%;
	padding-bottom: 4%;
	background-color: #138A08;
	font-size: 150%;
	text-align: center;
	color: #ffffff;
}

.welcome-logged-in {
	padding-top: 0.5%;
	padding-bottom: 2%;
	background-color: #6ABE33;
	text-align: right;
	color: #ffffff;
}

.welcome-p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.tervitus-headline {
	font-size: 145%;
	margin-bottom: 1.5%;
}

.mainpage-btn {
	white-space: normal;
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.mainpage-btn:link, .mainpage-btn:visited {
	color: #ffffff;
	text-decoration: none;
}

.mainpage-btn:hover {
	color: #000000;
}

.lisa_kuulutus {
	background-color: #F75710;
	color: #ffffff;
	border-color: #ffffff;
	font-family: 'Quicksand', sans-serif;
}

.login-btns {
	text-align: center;
}

.facebook-login-btn, .idkaart-login-btn {
	border-radius: 0;
	margin-bottom: 1%;
}

.facebook-login-btn {
	margin-top: 1%;
	background-color: #43609C;
	color: #ffffff;
}

.idkaart-login-btn {
	background-color: #ffffff;
	color: #2269A8;
	border-color: #00549B;
}

.facebook-login-btn:hover {
	color: #ffffff;
}

.idkaart-login-btn:hover {
	color: #2269A8;
}

.title {
	text-align: center;
	margin-top: 5%;
}

.index-kuulutus-pealkiri {
	font-family: 'Arial Narrow', sans-serif;
	font-size: 120%;
}

/* -----------------------------------------

source:
http://startbootstrap.com/template-overviews/shop-homepage/ */

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control, .item {
    border-radius: 4px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
    border-radius: 0px;
}

/* ----------------------------------------- */

label {
	font-size: 16px;
	font-weight: normal;
	margin-right: 15px;
}
#categories-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 200%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.active {
	color: #6ABE33;
	font-weight: bold;
}

/* -----------------------------------------

source:
http://www.labnol.org/internet/embed-responsive-google-maps/28333/ */

.google-maps {
	text-align: center;
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
}

#maps {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
}

#gmap_canvas {
	height: 100%;
}

#gmap_canvas img {
	max-width: none!important;
	background: none!important
}

/* ----------------------------------------- */

.content {
	margin-top: 4%;
	margin-bottom: 4%;
}

.kuulutuse-pealkiri {
	font-weight: bold;
	margin-bottom: 2%;
}

.ad-info {
	list-style-type: none;
	margin: 0;
	padding: 1px;
}

.leftmost-ad-info {
	font-weight: bold;
}

.checkbox-inline {
	padding-left: 15px;
}

.my-checkbox-text {
	padding-left: 5px;
}

/* -----------------------------------------

source:
http://stackoverflow.com/a/25825731 */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    font-weight: normal;
    padding: 6px 12px;
    cursor: pointer;
}

/* ----------------------------------------- */

.lisa-kuulutus-div {
	text-align: right;
}

.lisa-kuulutus-btn {
	border-color: #F75710;
	color: #F75710;
	font-weight: bold;
}

/* -----------------------------------------

source:
http://mystrd.at/modern-clean-css-sticky-footer/ */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 75px; /* bottom = footer height */
}

footer {
	text-align: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 75%;
	background-color: #363636;
	color: #e7e7e7;

	position: absolute;
    left: 0;
    bottom: 0;
	height: 75px;
	width: 100%;
}

footer > div {
	line-height: 75px;
}

#facebook-login-button {
	display: none;
}

/* ----------------------------------------- */

/* latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	src: local('Quicksand Regular'), local('Quicksand-Regular'), url(/public_files/fonts/quicksand.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	src: local('Quicksand Bold'), local('Quicksand-Bold'), url(/public_files/fonts/quicksand-bold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

